<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.31C"
        tools:targetApi="31">
        <activity
            android:name=".MainActivityFinal"
            android:exported="false" />
        <activity
            android:name=".MainActivityA5"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ5"
            android:exported="false" />
        <activity
            android:name=".MainActivityA4"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ4"
            android:exported="false" />
        <activity
            android:name=".MainActivityA3"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ3"
            android:exported="false" />
        <activity
            android:name=".MainActivityA2"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ2"
            android:exported="false" />
        <activity
            android:name=".MainActivityA1"
            android:exported="false" />
        <activity
            android:name=".MainActivityQ1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>